{%- for i in (1..1) %}
   {%- assign inc_price = settings.price_format -%}
   {%- assign use_rating = settings.use_pr_rating -%}
   {%- assign inc_rating = settings.app_review -%}
   {%- assign show_color = settings.show_pr_color -%}
   {%- assign show_cl_type = settings.show_color_type -%}
   {%- assign show_size = settings.show_pr_size -%}
   {%- assign sett_equal = section.settings.use_eq_height -%}
   {%- assign show_vendor = section.settings.show_vendor -%}
   {%- assign inc_pr = section.settings.pr_des -%}
   {%- assign limit = section.settings.limit -%}
   {%- assign col = ' pr_animated' | prepend:section.settings.col_pr -%}{%- assign col_tb = section.settings.col_pr_tb -%}{%- assign col_mb = section.settings.col_pr_mb -%}
   {%- assign display_type = section.settings.display_type -%}
   {%- assign pid = product.id -%}
   {%- assign rid = 'relatedt4_' | append:pid -%}
   {%- assign relatedt4__tag = product.tags| where:'relatedt4_' | first | default:rid | remove:'relatedt4_' -%}
   {%- assign pr_link = linklists[relatedt4__tag].links | where: "type", "product_link" -%}
   {%- assign use_cdt = section.settings.use_cdt -%}
   {%- assign txt_cd = 'products.grid_items.offer_end_in' | t -%}


  <div class="products nt_products_holder nt_slider row row_pr_{{inc_pr}} cdt_des_{{section.settings.cdt_des}} round_cd_{{section.settings.round_cd}} {{section.settings.image_size}} {{section.settings.image_ratio}} position_{{section.settings.image_position}} space_{{section.settings.space}} prev_next_{{section.settings.btn_color}} btn_owl_{{section.settings.btn_owl}} dot_owl_{{section.settings.dot_owl}} dot_color_{{section.settings.dot_color}} btn_vi_{{section.settings.btn_vi}}{% if sett_equal %} equal_nt{% endif %}" data-flickityjs='{"imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{section.settings.loop}},"prevNextButtons": {{section.settings.button}},"percentPosition": 1,"pageDots": {{section.settings.dot}}, "autoPlay" : {{ section.settings.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{section.settings.au_hover}}, "rightToLeft": {{settings.use_rtl}} }'>
    {%- for product in recommendations.products -%}{%- render 'pr_loop_grid_1',product:product,use_cdt:use_cdt,txt_cd:txt_cd, col:col, col_tb:col_tb, col_mb:col_mb,url_cat:url_cat,sett_equal:sett_equal,show_vendor:show_vendor,inc_price:inc_price,use_rating:use_rating,inc_rating:inc_rating,show_color:show_color,show_cl_type:show_cl_type,show_size:show_size -%}{%- endfor -%}
   </div>

{%- endfor -%}
